/* 全体（HTML）の基本設定 */
html{
    font-size: 32px;
}
/* ページ全体の背景色と文字色の設定 */
body{
    background-color: green;
    color: whitesmoke;
}
/* ページ全体の背景色と文字色の設定 */
header{
    height: 100vh;
    background-image: url(image2.png);
    background-repeat: no-repeat;
    background-size: cover;
    color:blueviolet;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
